<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CustomerRepositoryEndpoint" value="http://server-endpoint/customers/" />
    <add key="ProductRepositoryEndpoint" value="http://server-endpoint/products/" />
    <add key="OrderRepositoryEndpoint" value="http://server-endpoint/orders" />
  </appSettings>
</configuration>